<form class="forms">
    <p>Nombre completo: 
        <input  type="text" name="nombre" size="40">
    </p>
    <p>Tarjeta:  
        <input  type="radio" name="card" value="v"> Visa
        <input  type="radio" name="card" value="m"> Master Card
        <input  type="radio" name="card" value="a"> American Express
    </p>
    <p>Número de tarjeta: 
        <input type="number" name="tarjeta" maxlength="16">
    </p>
    <p>Fecha de caducidad
        <input  type="date"  name="caducidad">
    </p>
    <p>Código de seguridad:
        <label for="exampleInputPassword1" class="form-label">Codigo de seguridad</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </p>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">e-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <button type="submit" class="btn btn-dark"> <a href="" class="nav-link active">Comprar</a></button>
</form>
