<h1>Carrito de compras</h1>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>Nombre del juego</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>  
    </thead>
    <tbody>
        <tr>
            <th>God of war</th>
            <th>2</th>
            <th>2000</th>
        </tr>
        <tr>
            <th>Nier automata</th>
            <th>1</th>
            <th>1000</th>
        </tr>
    </tbody>
</table>
<p class="text-end">Total $3000</p>
<div class="text-end">
    <button>Comprar</button>
</div>

