<h1>Lista de juegos </h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen del juego</th>
            <th>Nombre del juego</th>
            <th>Precio</th>
            <th>Tipos de consola</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games" [ngClass]="{'clearence': game.clearence}">
            <td><img class="img-thumbnail"  [src]="game.image" [alt]="game.name" height="150" width="200" ></td>
            <td>{{game.name}}</td>
            <td>{{game.price | currency}}</td>
            <td>{{game.console_types}}</td>
            <td ><span *ngIf="game.stock==0" class="badge text-bg-warning">Sin Stock</span> </td>
            <td>
                <div class="input-group" *ngIf="game.stock!=0">
                    <button type="button" class="btn btn-primary btn-sm" (click)="downQuantity(game)">-</button>
                    <input  type="number" [(ngModel)]="game.quantity"  (keyup)="changeQuantity($event, game)">
                    <button type="button" class="btn btn-primary btn-sm" (click)="upQuantity(game)">+</button>
                </div>
            </td>
            <td>
                
            </td>
        </tr>
    </tbody>
</table>
