<h1>Lista de juegos </h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen del juego</th>
            <th>Nombre del juego</th>
            <th>Precio</th>
            <th>Tipos de consola</th>
            <th>Stock</th>
            <th>Cantidad y Comprar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games" [ngClass]="{'clearence': game.clearence}">
            <td><img class="img-thumbnail"  [src]="game.image" [alt]="game.name" height="150" width="150" ></td>
            <td>{{game.name}}</td>
            <td>{{game.price | currency}}</td>
            <td>{{game.console_types}}</td>
            <td>
                <span *ngIf="game.stock==0" class="badge text-bg-warning">Sin Stock</span> 
            </td>
            <td>
                <app-input-number [(quantity)]="game.quantity" [max]="game.stock" (limit)="limitReacher($event)" *ngIf="game.stock !=0"></app-input-number>
                <button class="btn btn-dark" (click)="addToCart(game)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>
