<h1>Lista de juegos </h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen del juego</th>
            <th>Nombre del juego</th>
            <th>Precio</th>
            <th>Tipos de consola</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="game.image" [alt]="game.name" height="150"></td>
            <td>{{game.name}}</td>
            <td>{{game.price}}$</td>
            <td>{{game.console_types}}</td>
            <td>{{game.stock}}</td>
            <td>
                <div class="input-group input-group-sm mb-3">
                    <button type="button" class="btn btn-light btn-sm">-</button>
                    <input class="form-control form-control-sm" type="number"/>
                    <button type="button" class="btn btn-light btn-sm" >+</button>
                  </div>
            </td>
        </tr>
        <tr>
            <td><img [src]="" [alt]=""></td>
            <td>Assesin cred 3</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Fifa 2023</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Dragon ball z</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
